.footer {
  background-image: url('../imegas/footer/bg-footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 180px;

  @include on-tablet {
    height: 359px;
  }
}
