.header {
  // display: none !important;

  background-image: url(../imegas/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__content {
    // @include content-padding-inline;
    // box-sizing: border-box;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__center {
    padding-bottom: 235px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      // padding-bottom: 64px; // new
    }
  }

  &__title {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    vertical-align: middle;

    @include on-tablet {
      font-size: 40px; // new
    }
  }
}
