.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: #d12d35;
  font-weight: 700;
  text-transform: uppercase;

  overflow: auto;

  &__top {
    margin-bottom: 40px;

    @include on-tablet {
      // margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 32px;
  }

  // &__content {
  //   @include content-padding-inline;
  // }

  &__phone-info {
    margin: 0;
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
  }

  &__phone-number {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 8px;
  }

  &__call-to-order {
    margin-top: 16px;
    display: block;
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;

    color: #fff;
    line-height: 16px;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}
