.museum-hours {
  @include page-grid;

  &__title-wrapper {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__visit {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #d12d35;
    margin-bottom: 2px;
  }

  &__title {
    margin-bottom: 32px;
    text-align: left;
  }

  &__schedule {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__schedule-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 16px;
  }

  &__schedule-week {
    display: flex;
  }

  &__schedule-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__schedule-hour {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 8px;
    margin-right: 24px;
    &:nth-last-child(2) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__schedule-day {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 8px;

    // &:nth-last-child(2){
    //   // margin-bottom: 16px;
    // }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__schedule-holidays {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
  }
}
