.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  font-style: bold;
  text-align: center;
  letter-spacing: -1.5px;

  @include on-tablet {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 48px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 48px;
  }
}
